docs/n8nweb.json
{
  "name": "pSEO Solar España – Master ETL v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 3 1 * *"
            }
          ]
        }
      },
      "id": "sched-geo",
      "name": "CRON – GEO mensual",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        120,
        200
      ],
      "notes": "Ejecuta GEO_INGEST + PVGIS_ENRICH el día 1 de cada mes a las 03:00"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * *"
            }
          ]
        }
      },
      "id": "sched-esios",
      "name": "CRON – ESIOS diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        120,
        360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 5 * * 1"
            }
          ]
        }
      },
      "id": "sched-bonif",
      "name": "CRON – Bonificaciones semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        120,
        520
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\n// ══════════════════════════════════════════════\n// INIT – Variables globales de entorno\n// ══════════════════════════════════════════════\nconst env = {\n  SUPABASE_URL: $env.SUPABASE_URL || 'https://YOUR_PROJECT.supabase.co',\n  SUPABASE_SERVICE_ROLE_KEY: $env.SUPABASE_SERVICE_ROLE_KEY || 'YOUR_KEY',\n  ESIOS_API_TOKEN: $env.ESIOS_API_TOKEN || 'YOUR_ESIOS_TOKEN',\n  GEO_SOURCE_CSV_URL: $env.GEO_SOURCE_CSV_URL || '',\n  IBI_ICIO_JSON_URL: $env.IBI_ICIO_JSON_URL || '',\n  COMPATIBILIDAD_CSV_URL: $env.COMPATIBILIDAD_CSV_URL || '',\n  PVGIS_BASE_URL: $env.PVGIS_BASE_URL || 'https://re.jrc.ec.europa.eu/api/v5_2',\n  BATCH_SIZE: parseInt($env.BATCH_SIZE || '50'),\n  DRY_RUN: ($env.DRY_RUN || 'false') === 'true',\n  STRICT_PROD: ($env.STRICT_PROD || 'true') === 'true',\n  AI_TO_STAGING_ONLY: ($env.AI_TO_STAGING_ONLY || 'true') === 'true',\n  AI_BASE_URL: $env.AI_BASE_URL || 'https://api.openai.com/v1/chat/completions',\n  AI_API_KEY: $env.AI_API_KEY || '',\n  AI_MODEL: $env.AI_MODEL || 'gpt-4o-mini'\n};\n\nstaticData.strictAlerts = [];\nstaticData.deadLetters = [];\n\nconst runId = `run_${Date.now()}`;\nconsole.log(JSON.stringify({ stage: 'INIT', runId, env: { ...env, SUPABASE_SERVICE_ROLE_KEY: '***', ESIOS_API_TOKEN: '***', AI_API_KEY: env.AI_API_KEY ? '***' : '' } }));\n\nreturn [{ json: { ...env, runId, startedAt: new Date().toISOString() } }];"
      },
      "id": "init-env",
      "name": "INIT – Env & Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $input.first().json;\nconsole.log(JSON.stringify({ stage: 'GEO_INGEST_START', runId: ctx.runId }));\nreturn [{ json: { ...ctx, subflow: 'GEO_INGEST' } }];"
      },
      "id": "geo-start",
      "name": "GEO – Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.GEO_SOURCE_CSV_URL || 'data:text/plain,' }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "geo-fetch-csv",
      "name": "GEO – Fetch CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst ctx = $('INIT – Env & Config').first().json;\nconst raw = $input.first().json.data || $input.first().json.body || '';\n\nfunction slugify(text) {\n  return (text || '')\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s-]/g, '')\n    .trim().replace(/\\s+/g, '-');\n}\nfunction parseNum(v) { const n = parseFloat(v); return Number.isFinite(n) ? n : null; }\nfunction parseIntSafe(v) { const n = parseInt(v, 10); return Number.isFinite(n) ? n : null; }\n\nasync function callAiJson(promptText) {\n  if (!ctx.AI_API_KEY) return [];\n  try {\n    const resp = await $helpers.httpRequest({\n      method: 'POST', url: ctx.AI_BASE_URL,\n      headers: { Authorization: 'Bearer ' + ctx.AI_API_KEY, 'Content-Type': 'application/json' },\n      body: { model: ctx.AI_MODEL, response_format: { type: 'json_object' },\n        messages: [{ role: 'system', content: 'Devuelve JSON valido y compacto.' }, { role: 'user', content: promptText }] },\n      json: true\n    });\n    const parsed = JSON.parse(resp.choices?.[0]?.message?.content || '{}');\n    return parsed.items || parsed.municipios || [];\n  } catch (e) { console.warn(JSON.stringify({ stage: 'GEO_AI_FALLBACK_ERROR', error: e.message })); return []; }\n}\n\nasync function aiCompleteGeoRow(row) {\n  if (!ctx.AI_API_KEY) return null;\n  try {\n    const resp = await $helpers.httpRequest({\n      method: 'POST', url: ctx.AI_BASE_URL,\n      headers: { Authorization: 'Bearer ' + ctx.AI_API_KEY, 'Content-Type': 'application/json' },\n      body: { model: ctx.AI_MODEL, response_format: { type: 'json_object' },\n        messages: [\n          { role: 'system', content: 'Rellena solo lo que falte y no inventes si no hay señal suficiente.' },\n          { role: 'user', content: 'Completa SOLO campos faltantes para este municipio de Espana. Devuelve {\"item\":{nombre_municipio,nombre_provincia,nombre_comunidad,latitud,longitud,poblacion,cod_ine}}. Entrada: ' + JSON.stringify(row) }\n        ] },\n      json: true\n    });\n    const parsed = JSON.parse(resp.choices?.[0]?.message?.content || '{}');\n    return parsed.item || parsed;\n  } catch (e) { console.warn(JSON.stringify({ stage: 'GEO_AI_ROW_ENRICH_ERROR', error: e.message })); return null; }\n}\n\nasync function upsertDeadLetter(records, stage) {\n  if (!records.length) return;\n  try {\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: `${ctx.SUPABASE_URL}/rest/v1/etl_dead_letters`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify(records.map(r => ({ run_id: ctx.runId, stage, payload: JSON.stringify(r), error: r._error || 'unknown', created_at: new Date().toISOString() })))\n    });\n  } catch (e) { console.warn(JSON.stringify({ stage: 'DEAD_LETTER_UPSERT_ERROR', error: e.message })); }\n}\n\nlet rows = [];\nif (raw && String(raw).trim().length > 0) {\n  try {\n    const parsed = JSON.parse(raw);\n    rows = Array.isArray(parsed) ? parsed : parsed.data || parsed.municipios || [];\n  } catch (e) {\n    const lines = String(raw).split('\\n').filter(l => l.trim());\n    if (lines.length >= 2) {\n      const headers = lines[0].split(',').map(h => h.trim().toLowerCase().replace(/[^a-z_]/g, '_'));\n      rows = lines.slice(1).map(line => {\n        const vals = line.split(','); const obj = {};\n        headers.forEach((h, i) => obj[h] = (vals[i] || '').trim()); return obj;\n      });\n    }\n  }\n}\n\n// FIX: AI_TO_STAGING_ONLY – si la fuente oficial está vacía y AI genera datos, van a _staging\nconst targetSuffix = ctx.AI_TO_STAGING_ONLY ? '_staging' : '';\n\nif (!rows.length) {\n  const aiRows = await callAiJson('Genera 200 municipios de Espana con campos: nombre_municipio, nombre_provincia, nombre_comunidad, latitud, longitud, poblacion, cod_ine. Devuelve {\"items\":[...]}');\n  console.log(JSON.stringify({ stage: 'GEO_AI_FALLBACK_USED', generated: aiRows.length, targetSuffix }));\n  if (ctx.STRICT_PROD) {\n    staticData.strictAlerts = staticData.strictAlerts || [];\n    staticData.strictAlerts.push({ stage: 'GEO', reason: 'Fuente oficial vacía', aiDraftCount: aiRows.length, timestamp: new Date().toISOString() });\n    return [];\n  }\n  rows = aiRows;\n}\n\nconst deadLetters = [];\nconst valid = [];\nlet aiRowEnriched = 0;\nconst MAX_AI_ROW_ENRICH = 80;\n\nfor (const row of rows) {\n  let nombre = row.nombre_municipio || row.nombre || row.municipio || '';\n  let provincia = row.nombre_provincia || row.provincia || '';\n  let comunidad = row.nombre_comunidad || row.comunidad || '';\n  let latitud = parseNum(row.latitud ?? row.lat);\n  let longitud = parseNum(row.longitud ?? row.lon);\n  let poblacion = parseIntSafe(row.poblacion);\n  let codIne = String(row.cod_ine || row.codigo_ine || row.id || '').padStart(5, '0');\n\n  const needsAi = !nombre || !provincia || !comunidad || latitud === null || longitud === null || poblacion === null || !codIne;\n  if (needsAi && ctx.AI_API_KEY && aiRowEnriched < MAX_AI_ROW_ENRICH) {\n    const ai = await aiCompleteGeoRow({ nombre_municipio: nombre, nombre_provincia: provincia, nombre_comunidad: comunidad, latitud, longitud, poblacion, cod_ine: codIne, raw: row });\n    if (ai) {\n      nombre = nombre || ai.nombre_municipio || '';\n      provincia = provincia || ai.nombre_provincia || '';\n      comunidad = comunidad || ai.nombre_comunidad || '';\n      latitud = latitud ?? parseNum(ai.latitud ?? ai.lat);\n      longitud = longitud ?? parseNum(ai.longitud ?? ai.lon);\n      poblacion = poblacion ?? parseIntSafe(ai.poblacion);\n      codIne = codIne || String(ai.cod_ine || '').padStart(5, '0');\n      aiRowEnriched++;\n    }\n  }\n\n  if (!nombre || !provincia) { deadLetters.push({ ...row, _error: 'Falta nombre o provincia' }); continue; }\n\n  valid.push({\n    cod_ine: codIne || null,\n    nombre_municipio: nombre,\n    nombre_provincia: provincia,\n    nombre_comunidad: comunidad || null,\n    latitud, longitud,\n    slug: slugify(nombre + '-' + provincia),\n    poblacion,\n    _aiGenerated: needsAi,\n    _targetSuffix: targetSuffix\n  });\n}\n\nawait upsertDeadLetter(deadLetters, 'GEO_PARSE');\nconsole.log(JSON.stringify({ stage: 'GEO_PARSE', total: rows.length, valid: valid.length, deadLetters: deadLetters.length, aiRowEnriched }));\nreturn valid.map(v => ({ json: { ...ctx, record: v } }));"
      },
      "id": "geo-parse",
      "name": "GEO – Parse & Slugify",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('INIT – Env & Config').first().json.BATCH_SIZE }}",
        "options": {}
      },
      "id": "geo-batch",
      "name": "GEO – Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst items = $input.all();\n\nif (ctx.DRY_RUN) { console.log(JSON.stringify({ stage: 'GEO_UPSERT_DRYRUN', count: items.length })); return items; }\n\n// FIX: AI_TO_STAGING_ONLY – redirige tabla destino si los datos vienen de IA\nconst firstItem = items[0]?.json?.record;\nconst suffix = firstItem?._aiGenerated && ctx.AI_TO_STAGING_ONLY ? '_staging' : '';\nconst tabla = `municipios_dataset_es${suffix}`;\n\nconst records = items.map(i => {\n  const r = i.json.record;\n  return {\n    municipio: r.nombre_municipio,\n    provincia: r.nombre_provincia,\n    comunidad_autonoma: r.nombre_comunidad || '',\n    poblacion: r.poblacion || null,\n    latitud: r.latitud || null,\n    longitud: r.longitud || null,\n    codigo_postal: null,\n    slug: r.slug\n  };\n});\n\nconst response = await $helpers.httpRequest({\n  method: 'POST',\n  url: `${ctx.SUPABASE_URL}/rest/v1/${tabla}?on_conflict=slug`,\n  headers: {\n    'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY,\n    'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'resolution=merge-duplicates,return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nconsole.log(JSON.stringify({ stage: 'GEO_UPSERT', tabla, batchSize: records.length, status: response.statusCode || 200 }));\nreturn items;"
      },
      "id": "geo-upsert",
      "name": "GEO – Upsert municipios_dataset_es",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst items = $input.all();\nif (ctx.DRY_RUN) return items;\n\nconst slugRecords = items.map(i => ({\n  slug: i.json.record.slug,\n  municipio: i.json.record.nombre_municipio\n}));\n\nawait $helpers.httpRequest({\n  method: 'POST',\n  url: `${ctx.SUPABASE_URL}/rest/v1/slugs_seo_municipios_espana_es?on_conflict=slug`,\n  headers: {\n    'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY,\n    'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'resolution=merge-duplicates,return=minimal'\n  },\n  body: JSON.stringify(slugRecords)\n});\n\nconsole.log(JSON.stringify({ stage: 'SLUGS_UPSERT', count: slugRecords.length }));\nreturn items;"
      },
      "id": "geo-slugs",
      "name": "GEO – Upsert slugs_seo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconsole.log(JSON.stringify({ stage: 'PVGIS_START', runId: ctx.runId }));\nreturn [{ json: { ...ctx, subflow: 'PVGIS_ENRICH' } }];"
      },
      "id": "pvgis-start",
      "name": "PVGIS – Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.SUPABASE_URL }}/rest/v1/municipios_dataset_es?select=slug,provincia,latitud,longitud&latitud=not.is.null&order=provincia",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.SUPABASE_SERVICE_ROLE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "pvgis-fetch-coords",
      "name": "PVGIS – Fetch coords from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst municipios = $input.first().json;\n\nconst seen = new Map();\nconst unique = [];\n\nfor (const m of (Array.isArray(municipios) ? municipios : [])) {\n  const lat = parseFloat(m.latitud || 0).toFixed(4);\n  const lon = parseFloat(m.longitud || 0).toFixed(4);\n  const provincia = m.provincia || '';\n  const key = `${provincia}:${lat}:${lon}`;\n  if (!seen.has(key) && lat !== '0.0000') {\n    seen.set(key, true);\n    unique.push({ ...ctx, lat, lon, provincia });\n  }\n}\n\nconsole.log(JSON.stringify({ stage: 'PVGIS_DEDUPE', total: municipios.length, unique: unique.length }));\nreturn unique.map(u => ({ json: u }));"
      },
      "id": "pvgis-dedupe",
      "name": "PVGIS – Dedupe coords",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2540,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "id": "pvgis-batch",
      "name": "PVGIS – Batch 5",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2780,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.PVGIS_BASE_URL }}/PVcalc?lat={{ $json.lat }}&lon={{ $json.lon }}&peakpower=1&loss=14&outputformat=json&browser=0",
        "options": {
          "timeout": 20000
        }
      },
      "id": "pvgis-api",
      "name": "PVGIS – API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000,
      "notes": "Rate limit PVGIS: máx 30 req/min. Con batch=5 y wait 2s es seguro."
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "pvgis-wait",
      "name": "PVGIS – Rate Limit Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        3260,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  try {\n    const pvgisData = item.json;\n    const outputs = pvgisData.outputs || {};\n    const totals = outputs.totals || {};\n    const provincia = item.json.provincia || 'desconocida';\n    const eYear = totals.fixed?.E_y || null;\n    const hYear = totals.fixed?.H_i_opt || totals.fixed?.['H(i)_y'] || null;\n\n    const record = {\n      provincia,\n      horas_sol_anuales: eYear ? Math.round(eYear) : 1800,\n      irradiacion_kwh_m2: hYear ? Math.round(hYear * 10) / 10 : 1600.0,\n      produccion_media_panel_1kw: eYear ? Math.round(eYear * 10) / 10 : 1400.0\n    };\n\n    if (!ctx.DRY_RUN) results.push({ json: { ...ctx, record } });\n    else console.log(JSON.stringify({ stage: 'PVGIS_DRYRUN', record }));\n  } catch (e) {\n    console.error(JSON.stringify({ stage: 'PVGIS_PARSE_ERROR', error: e.message }));\n  }\n}\nreturn results;"
      },
      "id": "pvgis-parse",
      "name": "PVGIS – Parse & Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3500,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst items = $input.all();\nif (ctx.DRY_RUN || !items.length) return items;\n\nconst records = items.map(i => i.json.record);\nawait $helpers.httpRequest({\n  method: 'POST',\n  url: `${ctx.SUPABASE_URL}/rest/v1/radiacion_solar_provincial_es?on_conflict=provincia`,\n  headers: {\n    'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY,\n    'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`,\n    'Content-Type': 'application/json',\n    'Prefer': 'resolution=merge-duplicates,return=minimal'\n  },\n  body: JSON.stringify(records)\n});\n\nconsole.log(JSON.stringify({ stage: 'PVGIS_UPSERT', count: records.length }));\nreturn items;"
      },
      "id": "pvgis-upsert",
      "name": "PVGIS – Upsert radiacion_solar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3740,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconsole.log(JSON.stringify({ stage: 'BONIF_START', runId: ctx.runId }));\nreturn [{ json: { ...ctx, subflow: 'BONIFICACIONES_INGEST' } }];"
      },
      "id": "bonif-start",
      "name": "BONIF – Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        520
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.IBI_ICIO_JSON_URL || 'data:application/json,%7B%22bonificaciones%22%3A%5B%5D%7D' }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "bonif-fetch",
      "name": "BONIF – Fetch JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst ctx = $('INIT – Env & Config').first().json;\nconst data = $input.first().json;\nlet rows = Array.isArray(data) ? data : data.bonificaciones || data.data || [];\n\nfunction parsePct(v) { const n = parseFloat(v); return Number.isFinite(n) ? n : 0; }\nfunction parseYears(v) { const n = parseInt(v, 10); return Number.isFinite(n) ? n : 0; }\nfunction normalizeTipo(v) { return String(v || '').trim().toUpperCase(); }\n\nasync function upsertDeadLetter(records, stage) {\n  if (!records.length) return;\n  try {\n    await $helpers.httpRequest({\n      method: 'POST', url: `${ctx.SUPABASE_URL}/rest/v1/etl_dead_letters`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify(records.map(r => ({ run_id: ctx.runId, stage, payload: JSON.stringify(r), error: r._error || 'unknown', created_at: new Date().toISOString() })))\n    });\n  } catch (e) { console.warn('dead_letter_error: ' + e.message); }\n}\n\nasync function aiBonifFallback() {\n  if (!ctx.AI_API_KEY) return [];\n  try {\n    const resp = await $helpers.httpRequest({\n      method: 'POST', url: ctx.AI_BASE_URL,\n      headers: { Authorization: 'Bearer ' + ctx.AI_API_KEY, 'Content-Type': 'application/json' },\n      body: { model: ctx.AI_MODEL, response_format: { type: 'json_object' },\n        messages: [{ role: 'system', content: 'Devuelve JSON valido.' }, { role: 'user', content: 'Genera 120 registros de bonificaciones municipales en Espana con campos municipio, provincia, tipo(IBI|ICIO), porcentaje_bonificacion, anios_bonificacion, condiciones. Devuelve {\"items\":[...]}.' }] },\n      json: true\n    });\n    return JSON.parse(resp.choices?.[0]?.message?.content || '{}').items || [];\n  } catch (e) { console.warn(JSON.stringify({ stage: 'BONIF_AI_FALLBACK_ERROR', error: e.message })); return []; }\n}\n\nif (!rows.length) {\n  const aiRows = await aiBonifFallback();\n  console.log(JSON.stringify({ stage: 'BONIF_AI_FALLBACK_USED', generated: aiRows.length }));\n  if (ctx.STRICT_PROD) {\n    staticData.strictAlerts = staticData.strictAlerts || [];\n    staticData.strictAlerts.push({ stage: 'BONIF', reason: 'Fuente JSON oficial vacía', aiDraftCount: aiRows.length, timestamp: new Date().toISOString() });\n    return [];\n  }\n  rows = aiRows;\n}\n\nconst ibi = []; const icio = []; const dead = [];\n\nfor (const row of rows) {\n  const municipio = String(row.municipio || '').trim();\n  const provincia = String(row.provincia || '').trim();\n  const tipo = normalizeTipo(row.tipo);\n  const porcentaje = parsePct(row.porcentaje_bonificacion || row.porcentaje);\n  const duracion = parseYears(row.anios_bonificacion || row.duracion_anos || row.anios);\n  const condiciones = String(row.condiciones || '').trim();\n\n  if (!municipio || !provincia || !tipo) { dead.push({ ...row, _error: 'Campos obligatorios faltantes' }); continue; }\n\n  const record = { municipio, provincia, porcentaje_bonificacion: porcentaje, duracion_anos: duracion, condiciones };\n  if (tipo === 'IBI') ibi.push(record);\n  else if (tipo === 'ICIO') icio.push(record);\n  else dead.push({ ...row, _error: 'Tipo desconocido: ' + tipo });\n}\n\nawait upsertDeadLetter(dead, 'BONIF_PARSE');\nconsole.log(JSON.stringify({ stage: 'BONIF_PARSE', total: rows.length, ibi: ibi.length, icio: icio.length, dead: dead.length }));\n\nconst out = [];\nfor (const r of ibi) out.push({ json: { ...ctx, record: r, tabla: 'bonificaciones_ibi_municipios_es' } });\nfor (const r of icio) out.push({ json: { ...ctx, record: r, tabla: 'bonificaciones_icio_municipios_es' } });\nreturn out;"
      },
      "id": "bonif-parse",
      "name": "BONIF – Parse IBI/ICIO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        520
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('INIT – Env & Config').first().json.BATCH_SIZE }}",
        "options": {}
      },
      "id": "bonif-batch",
      "name": "BONIF – Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1340,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst items = $input.all();\nif (ctx.DRY_RUN || !items.length) return items;\n\nconst byTable = {};\nfor (const item of items) {\n  const t = item.json.tabla;\n  if (!byTable[t]) byTable[t] = [];\n  byTable[t].push(item.json.record);\n}\n\nfor (const [tabla, records] of Object.entries(byTable)) {\n  await $helpers.httpRequest({\n    method: 'POST',\n    url: `${ctx.SUPABASE_URL}/rest/v1/${tabla}?on_conflict=municipio,provincia`,\n    headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'resolution=merge-duplicates,return=minimal' },\n    body: JSON.stringify(records)\n  });\n  console.log(JSON.stringify({ stage: 'BONIF_UPSERT', tabla, count: records.length }));\n}\nreturn items;"
      },
      "id": "bonif-upsert",
      "name": "BONIF – Upsert IBI/ICIO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        520
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst dateStr = yesterday.toISOString().split('T')[0];\nconsole.log(JSON.stringify({ stage: 'ESIOS_START', runId: ctx.runId }));\nreturn [{ json: { ...ctx, subflow: 'ESIOS_INGEST', fecha: dateStr } }];"
      },
      "id": "esios-start",
      "name": "ESIOS – Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        680
      ]
    },
    {
      "parameters": {
        "url": "=https://api.esios.ree.es/indicators/1001?start_date={{ $json.fecha }}T00:00:00&end_date={{ $json.fecha }}T23:59:59",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Token token={{ $json.ESIOS_API_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/json; application/vnd.esios-api-v2+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "esios-fetch",
      "name": "ESIOS – Fetch PVPC",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        680
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 10000
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst data = $input.first().json;\nconst values = data.indicator?.values || [];\nconst fecha = ctx.fecha;\n\nif (!values.length) {\n  console.warn(JSON.stringify({ stage: 'ESIOS_EMPTY', fecha }));\n  // FIX: registrar en dead_letters en lugar de retornar silencioso\n  try {\n    await $helpers.httpRequest({\n      method: 'POST', url: `${ctx.SUPABASE_URL}/rest/v1/etl_dead_letters`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify([{ run_id: ctx.runId, stage: 'ESIOS_EMPTY', payload: JSON.stringify({ fecha }), error: 'API devolvió 0 valores', created_at: new Date().toISOString() }])\n    });\n  } catch (_) {}\n  return [];\n}\n\nconst precios = values.map(v => v.value / 1000);\nconst precio_medio = precios.reduce((a, b) => a + b, 0) / precios.length;\nconst precio_min = Math.min(...precios);\nconst precio_max = Math.max(...precios);\n\nconst record = {\n  fecha,\n  tarifa_codigo: 'pvpc_2_0td',\n  precio_kwh_media: Math.round(precio_medio * 100000) / 100000,\n  precio_kwh_min: Math.round(precio_min * 100000) / 100000,\n  precio_kwh_max: Math.round(precio_max * 100000) / 100000,\n  fuente: 'esios',\n  indicador_id: '1001'\n};\n\nconsole.log(JSON.stringify({ stage: 'ESIOS_PARSE', fecha, precio_medio: record.precio_kwh_media }));\nreturn [{ json: { ...ctx, record } }];"
      },
      "id": "esios-parse",
      "name": "ESIOS – Parse Precios",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst item = $input.first();\nif (!item || ctx.DRY_RUN) return $input.all();\nconst record = item.json.record;\n\nawait $helpers.httpRequest({\n  method: 'POST',\n  url: `${ctx.SUPABASE_URL}/rest/v1/tarifas_electricas_espana_es?on_conflict=compania,tarifa`,\n  headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'resolution=merge-duplicates,return=minimal' },\n  body: JSON.stringify([{ compania: 'ESIOS', tarifa: 'PVPC 2.0TD', precio_kwh_dia: record.precio_kwh_media, precio_kwh_noche: record.precio_kwh_media, precio_kwh_valle: record.precio_kwh_media, tipo_tarifa: 'regulada-pvpc' }])\n});\n\nawait $helpers.httpRequest({\n  method: 'POST',\n  url: `${ctx.SUPABASE_URL}/rest/v1/precios_electricidad_es?on_conflict=fecha,tarifa_codigo`,\n  headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'resolution=merge-duplicates,return=minimal' },\n  body: JSON.stringify([record])\n});\n\nconsole.log(JSON.stringify({ stage: 'ESIOS_UPSERT', fecha: record.fecha }));\nreturn $input.all();"
      },
      "id": "esios-upsert",
      "name": "ESIOS – Upsert tarifas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        680
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconsole.log(JSON.stringify({ stage: 'COMPAT_START', runId: ctx.runId }));\nreturn [{ json: { ...ctx, subflow: 'COMPATIBILIDAD_INGEST' } }];"
      },
      "id": "compat-start",
      "name": "COMPAT – Start",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        840
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.COMPATIBILIDAD_CSV_URL || 'data:text/plain,' }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "compat-fetch",
      "name": "COMPAT – Fetch CSV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        840
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst ctx = $('INIT – Env & Config').first().json;\nconst raw = $input.first().json.data || $input.first().json.body || '';\n\nfunction toBool(v) { const s = String(v || '').trim().toLowerCase(); return s === 'true' || s === '1' || s === 'si' || s === 'yes'; }\n\nasync function upsertDeadLetter(records, stage) {\n  if (!records.length) return;\n  try {\n    await $helpers.httpRequest({\n      method: 'POST', url: `${ctx.SUPABASE_URL}/rest/v1/etl_dead_letters`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify(records.map(r => ({ run_id: ctx.runId, stage, payload: JSON.stringify(r), error: r._error || 'unknown', created_at: new Date().toISOString() })))\n    });\n  } catch (e) { console.warn('dead_letter_error: ' + e.message); }\n}\n\nasync function aiCompatFallback() {\n  if (!ctx.AI_API_KEY) return [];\n  try {\n    const resp = await $helpers.httpRequest({\n      method: 'POST', url: ctx.AI_BASE_URL,\n      headers: { Authorization: 'Bearer ' + ctx.AI_API_KEY, 'Content-Type': 'application/json' },\n      body: { model: ctx.AI_MODEL, response_format: { type: 'json_object' },\n        messages: [{ role: 'system', content: 'Devuelve JSON valido.' }, { role: 'user', content: 'Genera 60 combinaciones de compatibilidad con campos inversor, bateria, cargador_ev, compatible(boolean). Devuelve {\"items\":[...]}.' }] },\n      json: true\n    });\n    return JSON.parse(resp.choices?.[0]?.message?.content || '{}').items || [];\n  } catch (e) { console.warn(JSON.stringify({ stage: 'COMPAT_AI_FALLBACK_ERROR', error: e.message })); return []; }\n}\n\nlet records = [];\nconst dead = [];\n\nconst lines = String(raw).split('\\n').filter(l => l.trim());\nif (lines.length >= 2) {\n  const headers = lines[0].split(',').map(h => h.trim().toLowerCase().replace(/[^a-z_]/g, '_'));\n  for (const line of lines.slice(1)) {\n    const vals = line.split(',');\n    const obj = {};\n    headers.forEach((h, i) => obj[h] = (vals[i] || '').trim());\n    const inversor = String(obj.inversor || '').trim();\n    const bateria = String(obj.bateria || '').trim();\n    const cargadorEv = String(obj.cargador_ev || '').trim();\n    if (!inversor || !bateria || !cargadorEv) { dead.push({ ...obj, _error: 'Clave compuesta incompleta' }); continue; }\n    records.push({ inversor, bateria, cargador_ev: cargadorEv, compatible: toBool(obj.compatible) });\n  }\n}\n\nif (!records.length) {\n  const aiRecords = await aiCompatFallback();\n  console.log(JSON.stringify({ stage: 'COMPAT_AI_FALLBACK_USED', generated: aiRecords.length }));\n  if (ctx.STRICT_PROD) {\n    staticData.strictAlerts = staticData.strictAlerts || [];\n    staticData.strictAlerts.push({ stage: 'COMPAT', reason: 'Fuente CSV oficial vacía', aiDraftCount: aiRecords.length, timestamp: new Date().toISOString() });\n    return [];\n  }\n  records = aiRecords.map(r => ({ inversor: String(r.inversor||'').trim(), bateria: String(r.bateria||'').trim(), cargador_ev: String(r.cargador_ev||'').trim(), compatible: !!r.compatible })).filter(r => r.inversor && r.bateria && r.cargador_ev);\n}\n\nawait upsertDeadLetter(dead, 'COMPAT_PARSE');\nconsole.log(JSON.stringify({ stage: 'COMPAT_PARSE', valid: records.length, dead: dead.length }));\nreturn records.map(r => ({ json: { ...ctx, record: r } }));"
      },
      "id": "compat-parse",
      "name": "COMPAT – Parse CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        840
      ]
    },
    {
      "parameters": {
        "batchSize": "={{ $('INIT – Env & Config').first().json.BATCH_SIZE }}",
        "options": {}
      },
      "id": "compat-batch",
      "name": "COMPAT – Split Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1340,
        840
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconst items = $input.all();\nif (ctx.DRY_RUN || !items.length) return items;\n\nconst records = items.map(i => i.json.record);\nawait $helpers.httpRequest({\n  method: 'POST',\n  url: `${ctx.SUPABASE_URL}/rest/v1/compatibilidad_inversor_bateria_cargador_ev_es?on_conflict=inversor,bateria,cargador_ev`,\n  headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'resolution=merge-duplicates,return=minimal' },\n  body: JSON.stringify(records)\n});\n\nconsole.log(JSON.stringify({ stage: 'COMPAT_UPSERT', count: records.length }));\nreturn items;"
      },
      "id": "compat-upsert",
      "name": "COMPAT – Upsert compatibilidad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1580,
        840
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "mode": "waitForAll",
        "numberInputs": 4,
        "options": {}
      },
      "id": "merge-wait-all",
      "name": "MERGE – Wait All Subflows",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3980,
        520
      ],
      "notes": "FIX: Espera a que terminen BONIF, ESIOS, COMPAT y PVGIS antes de REBUILD. Evita race condition."
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('INIT – Env & Config').first().json;\nconsole.log(JSON.stringify({ stage: 'REBUILD_START', runId: ctx.runId }));\n\nif (ctx.DRY_RUN) { console.log(JSON.stringify({ stage: 'REBUILD_DRYRUN' })); return [{ json: ctx }]; }\n\nasync function callRpc(name) {\n  try {\n    const r = await $helpers.httpRequest({\n      method: 'POST',\n      url: `${ctx.SUPABASE_URL}/rest/v1/rpc/${name}`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({})\n    });\n    console.log(JSON.stringify({ stage: `REBUILD_${name}`, status: r.statusCode || 'ok' }));\n  } catch (e) {\n    // FIX: no fallar silencioso – registra en dead_letters\n    console.error(JSON.stringify({ stage: `REBUILD_${name}_ERROR`, error: e.message }));\n    await $helpers.httpRequest({\n      method: 'POST', url: `${ctx.SUPABASE_URL}/rest/v1/etl_dead_letters`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify([{ run_id: ctx.runId, stage: `REBUILD_${name}`, payload: '{}', error: e.message, created_at: new Date().toISOString() }])\n    }).catch(() => {});\n  }\n}\n\nawait callRpc('rebuild_municipios_energia');\nawait callRpc('rebuild_pseo_url_index');\nawait callRpc('rebuild_pseo_slug_index');\n\nreturn [{ json: { ...ctx, stage: 'REBUILD_DONE', completedAt: new Date().toISOString() } }];\n\n/*\n── SQL sugerido para las RPCs ──────────────────────────────────────────\nCREATE OR REPLACE FUNCTION rebuild_municipios_energia() RETURNS void AS $$\n  INSERT INTO municipios_energia (municipio, provincia, slug, irradiacion_kwh_m2, precio_kwh, ahorro_estimado_anual)\n  SELECT m.nombre_municipio, m.nombre_provincia, m.slug,\n         r.irradiacion_kwh_m2,\n         t.precio_kwh_media,\n         ROUND((r.irradiacion_kwh_m2 * 4 * 0.80 * t.precio_kwh_media)::numeric, 2) AS ahorro_estimado_anual\n  FROM municipios_dataset_es m\n  LEFT JOIN radiacion_solar_provincial_es r ON r.provincia = m.nombre_provincia\n  LEFT JOIN LATERAL (\n    SELECT precio_kwh_media FROM precios_electricidad_es\n    ORDER BY fecha DESC LIMIT 1\n  ) t ON true\n  ON CONFLICT (slug) DO UPDATE SET\n    irradiacion_kwh_m2 = EXCLUDED.irradiacion_kwh_m2,\n    precio_kwh = EXCLUDED.precio_kwh,\n    ahorro_estimado_anual = EXCLUDED.ahorro_estimado_anual,\n    updated_at = now();\n$$ LANGUAGE SQL;\n*/"
      },
      "id": "rebuild-indexes",
      "name": "REBUILD – Indexes & Derived Tables",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4220,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "// FIX: on_conflict ahora incluye columna de conflicto explícita (slug)\nconst ctx = $('INIT – Env & Config').first().json;\nif (ctx.DRY_RUN) return [{ json: ctx }];\n\ntry {\n  const data = await $helpers.httpRequest({\n    method: 'GET',\n    url: `${ctx.SUPABASE_URL}/rest/v1/municipios_energia?select=municipio,provincia,slug,irradiacion_kwh_m2,precio_kwh&limit=10000`,\n    headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}` }\n  });\n\n  const municipios = Array.isArray(data) ? data : [];\n\n  if (!municipios.length) {\n    console.warn(JSON.stringify({ stage: 'ESTIMACIONES_EMPTY', msg: 'municipios_energia vacía – ¿REBUILD falló?' }));\n    await $helpers.httpRequest({\n      method: 'POST', url: `${ctx.SUPABASE_URL}/rest/v1/etl_dead_letters`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'return=minimal' },\n      body: JSON.stringify([{ run_id: ctx.runId, stage: 'ESTIMACIONES_EMPTY', payload: '{}', error: 'municipios_energia vacía tras REBUILD', created_at: new Date().toISOString() }])\n    }).catch(() => {});\n    return [{ json: ctx }];\n  }\n\n  const estimaciones = municipios.map(m => ({\n    municipio: m.municipio,\n    provincia: m.provincia,\n    slug: m.slug,\n    potencia_instalada_kwp: 4,\n    produccion_anual_kwh: Math.round((m.irradiacion_kwh_m2 || 1300) * 4 * 0.80),\n    precio_kwh_referencia: m.precio_kwh || 0.15,\n    ahorro_bruto_anual_eur: Math.round((m.irradiacion_kwh_m2 || 1300) * 4 * 0.80 * (m.precio_kwh || 0.15)),\n    payback_estimado_anios: Math.round(6000 / Math.max((m.irradiacion_kwh_m2 || 1300) * 4 * 0.80 * (m.precio_kwh || 0.15), 1)),\n    actualizado_en: new Date().toISOString()\n  }));\n\n  // FIX: on_conflict especifica columna explícita\n  for (let i = 0; i < estimaciones.length; i += 500) {\n    const batch = estimaciones.slice(i, i + 500);\n    await $helpers.httpRequest({\n      method: 'POST',\n      url: `${ctx.SUPABASE_URL}/rest/v1/estimaciones_ahorro_anual_es?on_conflict=slug`,\n      headers: { 'apikey': ctx.SUPABASE_SERVICE_ROLE_KEY, 'Authorization': `Bearer ${ctx.SUPABASE_SERVICE_ROLE_KEY}`, 'Content-Type': 'application/json', 'Prefer': 'resolution=merge-duplicates,return=minimal' },\n      body: JSON.stringify(batch)\n    });\n  }\n\n  console.log(JSON.stringify({ stage: 'ESTIMACIONES_UPSERT', count: estimaciones.length }));\n} catch (e) {\n  console.error(JSON.stringify({ stage: 'ESTIMACIONES_ERROR', error: e.message }));\n}\n\nreturn [{ json: ctx }];"
      },
      "id": "estimaciones-upsert",
      "name": "ESTIMACIONES – Upsert ahorro_anual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4460,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst ctx = $input.first().json;\nconst strictAlerts = staticData.strictAlerts || [];\n\nconst report = {\n  runId: ctx.runId,\n  completedAt: new Date().toISOString(),\n  startedAt: ctx.startedAt,\n  dryRun: ctx.DRY_RUN,\n  strictAlertCount: strictAlerts.length,\n  strictAlertSample: strictAlerts.slice(0, 5),\n  status: strictAlerts.length ? 'WARNING_STRICT_PROD' : 'SUCCESS',\n  note: 'Dead letters persistidos en tabla etl_dead_letters de Supabase'\n};\n\nconsole.log(JSON.stringify({ stage: 'FINAL_REPORT', report }));\n\nstaticData.strictAlerts = [];\nstaticData.deadLetters = [];\n\nreturn [{ json: report }];"
      },
      "id": "final-report",
      "name": "FINAL – Report & Dead Letters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4700,
        520
      ]
    },
    {
      "parameters": {},
      "id": "error-trigger",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        120,
        980
      ]
    },
    {
      "parameters": {
        "jsCode": "const error = $input.first().json;\n\nconst alert = {\n  runId: error.execution?.id || 'unknown',\n  workflow: error.workflow?.name || 'pSEO Solar ETL',\n  node: error.execution?.lastNodeExecuted || 'unknown',\n  error: error.execution?.error?.message || JSON.stringify(error),\n  timestamp: new Date().toISOString(),\n  severity: 'ERROR'\n};\n\nconsole.error(JSON.stringify({ stage: 'ERROR_ALERT', alert }));\n\n// TODO: Conectar con Slack/email/webhook de alertas\n// await $helpers.httpRequest({ method: 'POST', url: 'https://hooks.slack.com/...', body: JSON.stringify({ text: JSON.stringify(alert) }) });\n\nreturn [{ json: alert }];"
      },
      "id": "error-handler",
      "name": "ERROR – Handler & Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        980
      ]
    }
  ],
  "connections": {
    "CRON – GEO mensual": {
      "main": [
        [
          {
            "node": "INIT – Env & Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRON – ESIOS diario": {
      "main": [
        [
          {
            "node": "INIT – Env & Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRON – Bonificaciones semanal": {
      "main": [
        [
          {
            "node": "INIT – Env & Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "INIT – Env & Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INIT – Env & Config": {
      "main": [
        [
          {
            "node": "GEO – Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "BONIF – Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "ESIOS – Start",
            "type": "main",
            "index": 0
          },
          {
            "node": "COMPAT – Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEO – Start": {
      "main": [
        [
          {
            "node": "GEO – Fetch CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEO – Fetch CSV": {
      "main": [
        [
          {
            "node": "GEO – Parse & Slugify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEO – Parse & Slugify": {
      "main": [
        [
          {
            "node": "GEO – Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEO – Split Batches": {
      "main": [
        [
          {
            "node": "GEO – Upsert municipios_dataset_es",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEO – Upsert municipios_dataset_es": {
      "main": [
        [
          {
            "node": "GEO – Upsert slugs_seo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GEO – Upsert slugs_seo": {
      "main": [
        [
          {
            "node": "PVGIS – Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – Start": {
      "main": [
        [
          {
            "node": "PVGIS – Fetch coords from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – Fetch coords from Supabase": {
      "main": [
        [
          {
            "node": "PVGIS – Dedupe coords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – Dedupe coords": {
      "main": [
        [
          {
            "node": "PVGIS – Batch 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – Batch 5": {
      "main": [
        [
          {
            "node": "PVGIS – API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – API Call": {
      "main": [
        [
          {
            "node": "PVGIS – Rate Limit Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – Rate Limit Wait": {
      "main": [
        [
          {
            "node": "PVGIS – Parse & Map",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – Parse & Map": {
      "main": [
        [
          {
            "node": "PVGIS – Upsert radiacion_solar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PVGIS – Upsert radiacion_solar": {
      "main": [
        [
          {
            "node": "MERGE – Wait All Subflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BONIF – Start": {
      "main": [
        [
          {
            "node": "BONIF – Fetch JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BONIF – Fetch JSON": {
      "main": [
        [
          {
            "node": "BONIF – Parse IBI/ICIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BONIF – Parse IBI/ICIO": {
      "main": [
        [
          {
            "node": "BONIF – Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BONIF – Split Batches": {
      "main": [
        [
          {
            "node": "BONIF – Upsert IBI/ICIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BONIF – Upsert IBI/ICIO": {
      "main": [
        [
          {
            "node": "MERGE – Wait All Subflows",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ESIOS – Start": {
      "main": [
        [
          {
            "node": "ESIOS – Fetch PVPC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESIOS – Fetch PVPC": {
      "main": [
        [
          {
            "node": "ESIOS – Parse Precios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESIOS – Parse Precios": {
      "main": [
        [
          {
            "node": "ESIOS – Upsert tarifas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESIOS – Upsert tarifas": {
      "main": [
        [
          {
            "node": "MERGE – Wait All Subflows",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "COMPAT – Start": {
      "main": [
        [
          {
            "node": "COMPAT – Fetch CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMPAT – Fetch CSV": {
      "main": [
        [
          {
            "node": "COMPAT – Parse CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMPAT – Parse CSV": {
      "main": [
        [
          {
            "node": "COMPAT – Split Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMPAT – Split Batches": {
      "main": [
        [
          {
            "node": "COMPAT – Upsert compatibilidad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "COMPAT – Upsert compatibilidad": {
      "main": [
        [
          {
            "node": "MERGE – Wait All Subflows",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "MERGE – Wait All Subflows": {
      "main": [
        [
          {
            "node": "REBUILD – Indexes & Derived Tables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REBUILD – Indexes & Derived Tables": {
      "main": [
        [
          {
            "node": "ESTIMACIONES – Upsert ahorro_anual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ESTIMACIONES – Upsert ahorro_anual": {
      "main": [
        [
          {
            "node": "FINAL – Report & Dead Letters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "ERROR – Handler & Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": {},
  "tags": [
    "pSEO",
    "solar",
    "ETL",
    "Supabase"
  ],
  "triggerCount": 4,
  "updatedAt": "2026-03-05T00:00:00.000Z",
  "versionId": "2"
}